version: '3.8'

networks:
  backend-kafka:
    name: backend-kafka
    driver: overlay
    attachable: true
  backend-dgraph:
    name: backend-dgraph
    driver: overlay
    attachable: true
  frontend-api:
    name: frontend-api
    driver: overlay
    attachable: true

services:

  jempi-kafka-01:
    image: ${REGISTRY_NODE_IP}/$KAFKA_IMAGE
    user: root
    networks:
      - backend-kafka
    environment:
      BITNAMI_DEBUG: 'true'
      KAFKA_ENABLE_KRAFT: 'yes'
      KAFKA_KRAFT_CLUSTER_ID: 'ehB92ChxEe2iYQAAAkKsEg'
      KAFKA_CFG_NODE_ID: 1
      KAFKA_CFG_BROKER_ID: 1
      KAFKA_CFG_PROCESS_ROLES: 'broker,controller'
      KAFKA_CFG_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CFG_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093
      KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT
      KAFKA_CFG_ADVERTISED_LISTENERS: PLAINTEXT://jempi-kafka-01:9092
      KAFKA_CFG_CONTROLLER_QUORUM_VOTERS: 1@jempi-kafka-01:9093,2@jempi-kafka-02:9093,3@jempi-kafka-03:9093
      KAFKA_CFG_INTER_BROKER_LISTENER_NAME: PLAINTEXT  
      ALLOW_PLAINTEXT_LISTENER: 'yes'
    volumes:
      - type: bind
        source: ${DATA_KAFKA_01_DIR}
        target: /bitnami/kafka
        read_only: false
    deploy:
      mode: replicated
      replicas: 0
      update_config:
        parallelism: 1
        delay: 10s
      restart_policy:
        condition: on-failure
      placement:
        constraints:
          - node.hostname == $PLACEMENT_KAFKA_01
  
  jempi-kafka-02:
    image: ${REGISTRY_NODE_IP}/$KAFKA_IMAGE 
    user: root
    networks:
      - backend-kafka
    environment:
      BITNAMI_DEBUG: 'true'
      KAFKA_ENABLE_KRAFT: 'yes'
      KAFKA_KRAFT_CLUSTER_ID: 'ehB92ChxEe2iYQAAAkKsEg'
      KAFKA_CFG_NODE_ID: 2
      KAFKA_CFG_BROKER_ID: 2
      KAFKA_CFG_PROCESS_ROLES: 'broker,controller'
      KAFKA_CFG_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CFG_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093
      KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT
      KAFKA_CFG_ADVERTISED_LISTENERS: PLAINTEXT://jempi-kafka-02:9092
      KAFKA_CFG_CONTROLLER_QUORUM_VOTERS: 1@jempi-kafka-01:9093,2@jempi-kafka-02:9093,3@jempi-kafka-03:9093
      KAFKA_CFG_INTER_BROKER_LISTENER_NAME: PLAINTEXT  
      ALLOW_PLAINTEXT_LISTENER: 'yes'
    volumes:
      - type: bind
        source: ${DATA_KAFKA_02_DIR}
        target: /bitnami/kafka
        read_only: false
    deploy:
      mode: replicated
      replicas: 0
      update_config:
        parallelism: 1
        delay: 10s
      restart_policy:
        condition: on-failure
      placement:
        constraints:
          - node.hostname == $PLACEMENT_KAFKA_02
  
  jempi-kafka-03:
    image: ${REGISTRY_NODE_IP}/$KAFKA_IMAGE 
    user: root
    networks:
      - backend-kafka
    environment:
      BITNAMI_DEBUG: 'true'
      KAFKA_ENABLE_KRAFT: 'yes'
      KAFKA_KRAFT_CLUSTER_ID: 'ehB92ChxEe2iYQAAAkKsEg'
      KAFKA_CFG_NODE_ID: 3
      KAFKA_CFG_BROKER_ID: 3
      KAFKA_CFG_PROCESS_ROLES: 'broker,controller'
      KAFKA_CFG_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CFG_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093
      KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT
      KAFKA_CFG_ADVERTISED_LISTENERS: PLAINTEXT://jempi-kafka-03:9092
      KAFKA_CFG_CONTROLLER_QUORUM_VOTERS: 1@jempi-kafka-01:9093,2@jempi-kafka-02:9093,3@jempi-kafka-03:9093
      KAFKA_CFG_INTER_BROKER_LISTENER_NAME: PLAINTEXT  
      ALLOW_PLAINTEXT_LISTENER: 'yes'
    volumes:
      - type: bind
        source: ${DATA_KAFKA_03_DIR}
        target: /bitnami/kafka
        read_only: false
    deploy:
      mode: replicated
      replicas: 0
      update_config:
        parallelism: 1
        delay: 10s
      restart_policy:
        condition: on-failure
      placement:
        constraints:
          - node.hostname == $PLACEMENT_KAFKA_03

  jempi-zero-01:
    image: ${REGISTRY_NODE_IP}/${DGRAPH_IMAGE}
    hostname: "jempi-zero-01"
    networks:
    - backend-dgraph
    ports:
    - published: 5080
      target: 5080
      protocol: tcp
      mode: host
    - published: 6080
      target: 6080
      protocol: tcp
      mode: host
    volumes:
    - type: bind
      source: ${DATA_DGRAPH_ZERO_01_DIR}
      target: /dgraph
    deploy:
      replicas: 0
      update_config:
        parallelism: 1
        delay: 10s
      restart_policy:
        condition: on-failure
      placement:
        constraints:
        - node.hostname == ${PLACEMENT_DGRAPH_ZERO_01}
    command: dgraph zero --my=jempi-zero-01:5080 --replicas 1

  jempi-alpha-01:
    image: ${REGISTRY_NODE_IP}/${DGRAPH_IMAGE}
    hostname: "jempi-alpha-01"
    networks:
    - backend-dgraph
    volumes:
    - type: bind
      source: ${DATA_DGRAPH_ALPHA_01_DIR}
      target: /dgraph
    ports:
    - published: 8080
      target: 8080
      protocol: tcp
      mode: host
    - published: 9080
      target: 9080
      protocol: tcp
      mode: host
    deploy:
      replicas: 0
      update_config:
        parallelism: 1
        delay: 10s
      restart_policy:
        condition: on-failure
      placement:
        constraints:
        - node.hostname == ${PLACEMENT_DGRAPH_ALPHA_01}
    command: dgraph alpha --my=jempi-alpha-01:7080 --zero=jempi-zero-01:5080 --security whitelist=0.0.0.0/0 --telemetry "sentry=false;"

  jempi-alpha-02:
    image: ${REGISTRY_NODE_IP}/${DGRAPH_IMAGE}
    hostname: "jempi-alpha-02"
    networks:
    - backend-dgraph
    volumes:
    - type: bind
      source: ${DATA_DGRAPH_ALPHA_02_DIR}
      target: /dgraph
    ports:
    - published: 8081
      target: 8081
      protocol: tcp
      mode: host
    - published: 9081
      target: 9081
      protocol: tcp
      mode: host
    deploy:
      replicas: 0
      update_config:
        parallelism: 1
        delay: 10s
      restart_policy:
        condition: on-failure
      placement:
        constraints:
        - node.hostname == ${PLACEMENT_DGRAPH_ALPHA_02}
    command: dgraph alpha --my=jempi-alpha-02:7081 --zero=jempi-0zero-01:5080 --security whitelist=0.0.0.0/0 -o 1 --telemetry "sentry=false;"

  jempi-alpha-03:
    image: ${REGISTRY_NODE_IP}/${DGRAPH_IMAGE}
    hostname: "jempi-alpha-03"
    networks:
    - backend-dgraph
    volumes:
    - type: bind
      source: ${DATA_DGRAPH_ALPHA_03_DIR}
      target: /dgraph
    ports:
    - published: 8082
      target: 8082
      protocol: tcp
      mode: host
    - published: 9082
      target: 9082
      protocol: tcp
      mode: host
    deploy:
      replicas: 0
      update_config:
        parallelism: 1
        delay: 10s
      restart_policy:
        condition: on-failure
      placement:
        constraints:
        - node.hostname == ${PLACEMENT_DGRAPH_ALPHA_03}
    command: dgraph alpha --my=jempi-alpha-03:7082 --zero=jempi-zero-01:5080 --security whitelist=0.0.0.0/0 -o 2 --telemetry "sentry=false;"

  jempi-ratel:
    image: ${REGISTRY_NODE_IP}/${RATEL_IMAGE}
    ports:
    - published: 8010
      target: 8000
      protocol: tcp
      mode: host                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
    networks:
    - backend-dgraph
    deploy:
      replicas: 0
      update_config:
        parallelism: 1
        delay: 10s
      restart_policy:
        condition: on-failure
      placement:
        constraints:
        - node.hostname == ${PLACEMENT_RATEL}
    command: dgraph-ratel




  # journal:
  #   image: ${REGISTRY_NODE_IP}/${JOURNAL_IMAGE}
  #   networks:
  #   - backend-kafka
  #   volumes:
  #   - type: bind
  #     source: $DATA_DIR_JOURNAL/conf
  #     target: /app/conf
  #     read_only: true
  #   - type: bind
  #     source: $DATA_DIR_JOURNAL/logs
  #     target: /app/logs
  #     read_only: false
  #   deploy:
  #     mode: replicated
  #     replicas: 0
  #     update_config:
  #       parallelism: 1
  #       delay: 10s
  #     restart_policy:
  #       condition: on-failure
  #       delay: 5s
  #       max_attempts: 0
  #     placement:
  #       constraints:
  #       - node.hostname == ${PLACEMENT_JOURNAL}        

  # notifications:
  #   image: ${REGISTRY_NODE_IP}/${NOTIFICATIONS_IMAGE}
  #   networks:
  #   - backend-kafka
  #   volumes:
  #   - type: bind
  #     source: $DATA_DIR_NOTIFICATIONS/conf
  #     target: /app/conf
  #     read_only: true
  #   - type: bind
  #     source: $DATA_DIR_NOTIFICATIONS/logs
  #     target: /app/logs
  #     read_only: false
  #   deploy:
  #     mode: replicated
  #     replicas: 0
  #     update_config:
  #       parallelism: 1
  #       delay: 10s
  #     restart_policy:
  #       condition: on-failure
  #       delay: 5s
  #       max_attempts: 0
  #     placement:
  #       constraints:
  #       - node.hostname == ${PLACEMENT_NOTIFICATIONS}        

  jempi-async-receiver:
    image: ${REGISTRY_NODE_IP}/${ASYNC_RECEIVER_IMAGE}
    networks:
    - backend-kafka
    volumes:
    - type: bind
      source: $DATA_DIR_ASYNC_RECEIVER/logs
      target: /app/logs
      read_only: false
    - type: bind
      source: $DATA_DIR_ASYNC_RECEIVER/csv
      target: /app/csv
      read_only: true
    - type: bind
      source: $DATA_DIR_ASYNC_RECEIVER/conf
      target: /app/conf
      read_only: true
    deploy:
      mode: replicated
      replicas: 0
      update_config:
        parallelism: 1
        delay: 10s
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 0
      placement:
        constraints:
        - node.hostname == ${PLACEMENT_ASYNC_RECEIVER}

  jempi-sync-receiver:
    image: ${REGISTRY_NODE_IP}/${SYNC_RECEIVER_IMAGE}
    networks:
    - backend-kafka
    ports:
    - published: 50040
      target: 50000
      protocol: tcp
      mode: host  
    volumes:
    - type: bind
      source: $DATA_DIR_SYNC_RECEIVER/logs
      target: /app/logs
      read_only: false
    - type: bind
      source: $DATA_DIR_SYNC_RECEIVER/conf
      target: /app/conf
      read_only: true
    deploy:
      mode: replicated
      replicas: 0
      update_config:
        parallelism: 1
        delay: 10s
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 0
      placement:
        constraints:
        - node.hostname == ${PLACEMENT_SYNC_RECEIVER}

  jempi-pre-processor:
    image: ${REGISTRY_NODE_IP}/${PREPROCESSOR_IMAGE}
    networks:
    - backend-kafka
    volumes:
    - type: bind
      source: $DATA_DIR_PREPROCESSOR/conf
      target: /app/conf
      read_only: true
    - type: bind
      source: $DATA_DIR_PREPROCESSOR/logs
      target: /app/logs
      read_only: false
    deploy:
      mode: replicated
      replicas: 0
      update_config:
        parallelism: 1
        delay: 10s
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 0
      placement:
        constraints:
        - node.hostname == ${PLACEMENT_PREPROCESSOR}

  # input-02:
  #   image: ${REGISTRY_NODE_IP}/${INPUT_02_IMAGE}
  #   networks:
  #   - backend-kafka
  #   ports:
  #   - published: 50040
  #     target: 50000
  #     protocol: tcp
  #     mode: host  
  #   volumes:
  #   - type: bind
  #     source: $DATA_DIR_INPUT_02/logs
  #     target: /app/logs
  #     read_only: false
  #   - type: bind
  #     source: $DATA_DIR_INPUT_02/conf
  #     target: /app/conf
  #     read_only: true
  #   deploy:
  #     mode: replicated
  #     replicas: 0
  #     update_config:
  #       parallelism: 1
  #       delay: 10s
  #     restart_policy:
  #       condition: on-failure
  #       delay: 5s
  #       max_attempts: 0
  #     placement:
  #       constraints:
  #       - node.hostname == ${PLACEMENT_INPUT_02}

  # staging-02:
  #   image: ${REGISTRY_NODE_IP}/${STAGING_02_IMAGE}
  #   networks:
  #   - backend-kafka
  #   volumes:
  #   - type: bind
  #     source: $DATA_DIR_STAGING_02/conf
  #     target: /app/conf
  #     read_only: true
  #   - type: bind
  #     source: $DATA_DIR_STAGING_02/logs
  #     target: /app/logs
  #     read_only: false
  #   deploy:
  #     mode: replicated
  #     replicas: 0
  #     update_config:
  #       parallelism: 1
  #       delay: 10s
  #     restart_policy:
  #       condition: on-failure
  #       delay: 5s
  #       max_attempts: 0
  #     placement:
  #       constraints:
  #       - node.hostname == ${PLACEMENT_STAGING_02}

  # input-disi:
  #   image: ${REGISTRY_NODE_IP}/${INPUT_DISI_IMAGE}
  #   networks:
  #   - backend-kafka
  #   ports:
  #   - published: 50030
  #     target: 50000
  #     protocol: tcp
  #     mode: host  
  #   volumes:
  #   - type: bind
  #     source: $DATA_DIR_INPUT_DISI/logs
  #     target: /app/logs
  #     read_only: false
  #   - type: bind
  #     source: $DATA_DIR_INPUT_DISI/conf
  #     target: /app/conf
  #     read_only: true
  #   deploy:
  #     mode: replicated
  #     replicas: 0
  #     update_config:
  #       parallelism: 1
  #       delay: 10s
  #     restart_policy:
  #       condition: on-failure
  #       delay: 5s
  #       max_attempts: 0
  #     placement:
  #       constraints:
  #       - node.hostname == ${PLACEMENT_INPUT_DISI}

  # staging-disi:
  #   image: ${REGISTRY_NODE_IP}/${STAGING_DISI_IMAGE}
  #   networks:
  #   - backend-kafka
  #   volumes:
  #   - type: bind
  #     source: $DATA_DIR_STAGING_DISI/conf
  #     target: /app/conf
  #     read_only: true
  #   - type: bind
  #     source: $DATA_DIR_STAGING_DISI/logs
  #     target: /app/logs
  #     read_only: false
  #   deploy:
  #     mode: replicated
  #     replicas: 0
  #     update_config:
  #       parallelism: 1
  #       delay: 10s
  #     restart_policy:
  #       condition: on-failure
  #       delay: 5s
  #       max_attempts: 0
  #     placement:
  #       constraints:
  #       - node.hostname == ${PLACEMENT_STAGING_DISI}

  jempi-controller:
    image: ${REGISTRY_NODE_IP}/${CONTROLLER_IMAGE}
    networks:
    - backend-kafka
    ports:
    - published: 50020
      target: 50000
      protocol: tcp
      mode: host      
    volumes:
    - type: bind
      source: $DATA_DIR_CONTROLLER/conf
      target: /app/conf
      read_only: true
    - type: bind
      source: $DATA_DIR_CONTROLLER/logs
      target: /app/logs
      read_only: false
    deploy:
      mode: replicated
      replicas: 0
      update_config:
        parallelism: 1
        delay: 10s
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 0
      placement:
        constraints:
        - node.hostname == ${PLACEMENT_CONTROLLER}
       
  jempi-em:
    image: ${REGISTRY_NODE_IP}/${EM_IMAGE}
    networks:
    - backend-kafka
    volumes:
    - type: bind
      source: $DATA_DIR_EM/conf
      target: /app/conf
      read_only: true
    - type: bind
      source: $DATA_DIR_EM/logs
      target: /app/logs
      read_only: false
    deploy:
      mode: replicated
      replicas: 0
      update_config:
        parallelism: 1
        delay: 10s
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 0
      placement:
        constraints:
        - node.hostname == ${PLACEMENT_EM}

  jempi-linker:
    image: ${REGISTRY_NODE_IP}/${LINKER_IMAGE}
    networks:
    - backend-kafka
    - backend-dgraph
    ports:
    - published: 50010
      target: 50000
      protocol: tcp
      mode: host  
    volumes:
    - type: bind
      source: $DATA_DIR_LINKER/conf
      target: /app/conf
      read_only: true
    - type: bind
      source: $DATA_DIR_LINKER/logs
      target: /app/logs
      read_only: false
    deploy:
      mode: replicated
      replicas: 0
      update_config:
        parallelism: 1
        delay: 10s
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 0
      placement:
        constraints:
        - node.hostname == ${PLACEMENT_LINKER}

  jempi-api:
    image: ${REGISTRY_NODE_IP}/${API_IMAGE}
    networks:
    - backend-dgraph
    - frontend-api
    ports:
    - published: 50000
      target: 50000
      protocol: tcp
      mode: host  
    volumes:
    - type: bind
      source: $DATA_DIR_API/conf
      target: /app/conf
      read_only: true
    - type: bind
      source: $DATA_DIR_API/logs
      target: /app/logs
      read_only: false
    deploy:
      mode: replicated
      replicas: 0
      update_config:
        parallelism: 1
        delay: 10s
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 0
      placement:
        constraints:
        - node.hostname == ${PLACEMENT_API}
