POSTGRESQL_IP=127.0.0.1
POSTGRESQL_PORT=5432
POSTGRESQL_USER=postgres
POSTGRESQL_PASSWORD=
POSTGRESQL_USERS_DB=
POSTGRESQL_NOTIFICATIONS_DB=
POSTGRESQL_CONFIGURATION_DB=
POSTGRESQL_AUDIT_DB=
POSTGRESQL_KC_TEST_DB=
KAFKA_BOOTSTRAP_SERVERS=127.0.0.1
KAFKA_APPLICATION_ID=aId
DGRAPH_HOSTS=127.0.0.1
DGRAPH_PORTS=5080