.shapes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  position: relative;
}
.container{
  display: block;
  position: relative;
  height: 200px;
  width: 70%;
  border: solid 1px red;
}

.square {
  width: 150px;
  height: 50px;
  border: 1px dashed #000 ;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0 5px;
}
.circle {
  width: 100px;
  height: 100px;
  border: 2px dashed #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.label {
  position: absolute;
  font-size: 12px;
  color: #000;
}
.circle:hover {
  background-color: #e3f2fb; 
}
.interaction-circle:hover {
  background-color: #add8e6; 
}


.additional-info {
  display: none;
  position: absolute;
  left: 0%; 
  background-color: #fff;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  width: 180px;
  margin-left: 120px;
  margin-top: 40px;
}

.circle-container:hover .additional-info {
  display: block;
}


.additional-info h2 {
  margin-top: 0;
  font-size: 16px;
}

.additional-info ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.additional-info li {
  font-size: 12px;
}
