.unset-decoration {
  text-decoration: none;
  color: #000;
}

/* Enhance html fieldset element style */
fieldset {
  border: 1px solid #ccc;
  border-radius: 1rem;
  padding: 1rem;
  & legend {
    font-size: 1.5rem;
    font-weight: 600;
  }
}
